@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

body {
   display: 		flex;
   flex-direction: 	column;
   align-items: 	center;
   justify-content: 	center;
   background-color: 	rgba(10,0,20,1);
   font-family: 	'JetBrains Mono', 'Courier New', Courier, monospace; 
}

.titleSection {
   display: 		flex;
   flex-direction: 	column;
   align-items: 	center;
   justify-content: 	center;
}

.titleText {
   display: 		flex;
   flex-direction: 	column;
   align-items: 	center;
   justify-content: 	center;

   font-size: 		15px;
   color: 		rgba(255,125,255,1);
}

.asciiSpan1 {
   color: 		rgba(255,205,255,1);
}

.asciiSpan2 {
   color: 		rgba(255,195,255,1);
}

.asciiSpan3 {
   color: 		rgba(255,185,255,1);
}

.asciiSpan4 {
   color: 		rgba(255,175,255,1);
}

.asciiSpan5 {
   color: 		rgba(255,165,255,1);
}

.asciiSpan6 {
   color: 		rgba(255,155,255,1);
}

.asciiSpan7 {
   color: 		rgba(255,145,255,1);
}

.asciiSpan8 {
   color: 		rgba(255,135,255,1);
}

.asciiSpan9 {
   color: 		rgba(255,125,255,1);
}
